<!doctype html>
<html ng-app>
	<head>
		<script src="jquery.js"></script>
		<script src="angular.min.js"></script>
		<script src="bootstrap/js/bootstrap.min.js"></script>
		<script src="todoapi.js"></script>
		<script src="todo.js"></script>
		<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="bootstrap/css/bootstrap-theme.min.css">
	</head>
	<body>
		<h2>HyperMusk Todo Lists</h2>
		<div ng-controller="TodoListCtrl" class="row">
			<div class="col-md-3">
				<ul class="nav nav-pills nav-stacked">
					<li ng-repeat="l in todo_lists" ng-click="chooseList(this)" ng-class="{active: selectedListId==l.Id}"><a href="#">{{l.Name}}</a></li>
				</ul>
			</div>
			<div class="col-md-6">
				<div class="row">
					<div class="form-group"><input type="text" class="form-control" placeholder="Add a new todo item."></div>
				</div>
				<div class="row">
					<ul class="list-group">
						<li class="list-group-item" ng-repeat="item in current_items"><input type="checkbox"> {{item.Content}}</li>
					</ul>
				</div>
			</div>
		</div>
	</body>
</html>
